*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#navbar{
    position: fixed;
    width: 100%;
    background-color: darkgreen;
    padding: 10px;
    top: 0px;
    display: flex;
    justify-content: flex-end;
    border-bottom: seagreen;
}

#navbar ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}
#navbar ul li{
    align-self: flex-end;
    margin: 5px;
    padding: 5px;
}

.nav-link{
    text-decoration: none;
    color: whitesmoke;
    font-family:'Source Sans Pro', 'Courier New', Courier, monospace;
    font-size: 1.3rem ;
    align-self: flex-end;
}

#welcome-section{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-image: url("img/portfolio-welcome.JPG");
    background-size: cover;
}

#personal-img{
    flex: 40%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#personal-img > img{
    width: 40%;
    height: auto;
    border-radius: 50%;
    border: 5px solid;
    border-color: white;
    box-shadow: 1px 1px #e9e7e7;
    margin: 10px;
}
#personal-intro{
    flex: 60%;
}
#personal-intro h1{
    font-size: 4rem;
    font-family: "Big Shoulders Display";
    margin-left: 0;
    margin-bottom: 20px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    color: rgb(0, 39, 0);

}
.intro{
    font-size: 2rem;
    font-family: "Dancing Script";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    color: rgb(26, 25, 25);
}

.no-bullet{
    list-style-type: none;
}

#projects{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(82, 122, 82);
}

#projects h1{
    flex: 100%;
    font-size: 2.5em;
    color: whitesmoke;
    margin: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

#project-grid-info{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 1rem;
    width: 80%;
    max-width: 1280px;
    margin: 0 auto;

}
 
  .project-image {
    height: calc(100% - 8rem);
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
    border-style: solid;
    border-width: thin;
    opacity: 0.9;
  }
  .project-image:hover{
      opacity: 1;
  }

  #project-grid-info > a p {
    background-color: rgb(14, 46, 14);
    text-align: center;
    padding: 10px;
    font-size: 1.6rem;
    color:whitesmoke;
    text-decoration: none;
  }

 #profile-link{
    flex: 100%;
    align-self: center;
    font-size: 1.6em;
    background-color: rgb(14, 46, 14);
    color: whitesmoke;    
    padding: 10px;
    margin-bottom:30px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  }

#contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(51, 73, 51);
}

#contact h1{
    flex: 100%;
    font-size: 2.5em;
    color: whitesmoke;
    margin: 10px;
    padding-top: 30px;
    padding-bottom: 10px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

#contact-grid{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 1rem;
    padding: 50px;
}
.contact-me{
    text-decoration: none;
    font-size: 1.6rem;
    color:whitesmoke;
    padding: 30px;
}
.contact-me:hover{
    transform:translateY(8px);
    transition: transform 0.3s ease-out;
}

footer{
    font-family:'Source Sans Pro', 'Courier New', Courier, monospace;
    font-size: 1.3rem ;
    text-align: center;
    padding: 40px;
}

@media only screen and (max-width: 600px){
    #welcome-section{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
}
}